<div class='wrapper'>

  <div class='side_bar'>
    <%= render "side"%>
  </div>

  <div class='chat'>
    <div class='chat-header'>
      <div class='left-header'>
        <div class='header-title'>
          <%= @room.name %>
          <ul class='header-members'>
            Member：
            <% @room.users.each do |user| %>
            <li class='member'>
              <%= user.name%>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
      <div class='right-header'>
        <div class='header-button'>
          <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
        </div>
      </div>
    </div>
    <div class='messages'>
      <%= render @messages%>
    </div>
    <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <%= f.label :image, class: 'form-image' do %>
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      <% end %>
    </div>

    <%= f.submit '送信', class: 'form-submit' %>
    <% end %>
  </div>
</div>