<div class='wrapper'>

  <div class='side-bar'>
    <div class='header'>
      <h3 class='header__name'>
        <%= link_to edit_user_path(current_user) do %>
        <%= current_user.name %>
        <% end %>
      </h3>
    </div>
    <div class='groups'>
      <% current_user.rooms.each do |room| %>
      <div class='group'>
        <div class='group__name'>
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class='chat'>
    <div class='header'>
      <div class='left-header'>
        <div class='left-header__title'>
          <%= @room.name %>
          <ul class='left-header__members'>
            Member：
            <% @room.users.each do |user| %>
            <li class='member'>
              <%= user.name%>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
      <div class='right-header'>
        <div class='right-header__button'>
          <%= link_to "チャットを終了する", root_path %>
        </div>
      </div>
    </div>
    <div class='messages'>
      <%= render @messages%>
    </div>
    <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>

    <%= f.text_field :content, class: 'form__message', placeholder: 'type a message' %>
    <div class='form__mask'>
      <%= f.label :image, class: 'form__mask__image' do %>
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      <% end %>
    </div>
    <%= f.submit 'Send', class: 'form__submit' %>
    <% end %>
  </div>
</div>