<div class='Wrapper'>

  <div class='SideBar'>
    <%= render "side"%>
  </div>

  <div class='Chat'>
    <div class='ChatHeader'>
      <div class='LeftHeader'>
        <div class='HeaderTitle'>
          <%= @room.name %>
          <ul class='HeaderMembers'>
            Member：
            <% @room.users.each do |user| %>
            <li class='Member'>
              <%= user.name%>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
      <div class='RightHeader'>
        <div class='HeaderButton'>
          <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
        </div>
      </div>
    </div>
    <div class='Messages'>
      <%= render @messages%>
    </div>
    <%= form_with model: [@room, @message], html: {class: "Form"}, local: true do |f|%>
    <div class="FormInput">
      <%= f.text_field :content, class: 'FormMessage', placeholder: 'type a message' %>
      <%= f.label :image, class: 'FormImage' do %>
      <span class="ImageFile">画像</span>
      <%= f.file_field :image, class: 'Hidden' %>
      <% end %>
    </div>

    <%= f.submit '送信', class: 'FormSubmit' %>
    <% end %>
  </div>
</div>